
<%include ../partials/header%>
<%include ../partials/nav%>

<section class="user">
    <div class="container">
        <h2 class="text-center mb-4">ACCOUNT DETAILS</h2> 
        <% if(currentLogedUser){%>
        <div class="row detailrow">
            <div class="col-md-3">
                <h4>Login as</h4>
                <h6><%=currentLogedUser.username%></h6>
                <span class="text-silenced"><%=currentLogedUser.Email%> </span>
                <span class="text-silenced"><%=currentLogedUser.Telephone%> </span> 
            </div>
       <% } %>
            <div class="col-md-7">
                    <a class="text-muted ">Return to the store</a> 
            </div>
            <div class="col-md-2">
                    <a href="/logout" class="text-danger"> Log out</a> 
            </div>
        </div>
    </div>
</section>
<%include ../partials/footer%>