<section class="footer fixed">
    <div class="container footer-nav">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <h4>RAGE FITNESS</h4>
          <p>Frederik Hendrikstraat 67 hs 1052 HL 
            Amsterdam, 
            The Netherlands </p>
            <P>(571) 400-1255 <br>
                info@kaliumtheme.com</P>
        </div>
        <div class=" col-sm-12 col-md-4">
            <ul>
                <h5>WORKING HOURS</h5>
                
                <li>Monday  <span>10:00 - 22:00</span></li>
                <li>Tuesday <span>10:00 - 22:00</span></li>
                <li>Tuesday <span>10:00 - 22:00</span></li>
                
              </ul>
        </div>
        <div class="col-sm-12 col-md-4">
            <ul>
                <h5>MY ACCOUNT</h5>
                <li>Login</li>
                <li>Register</li>
                <li><a href="/cms/login">Admin</a></li>
              </ul>
        </div>
       
      </div>
  
     
     
    </div>
  
  </section>
  
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
