
<nav class="navbar navbar-light navbar-expand-lg  justify-content-center static-top"> 
    <a href="/" class="navbar-brand d-flex w-50 mr-auto">RAGE <span class="text-danger">FITNESS</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="navbar-nav mx-auto w-100 justify-content-center overlay-content">
            <li class="nav-item active nav-bar">
                <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item active nav-bar">
                    <a class="nav-link" href="/classes">CLASESS</a>
                </li>
            <li class="nav-item nav-bar">
                <a class="nav-link" href="/blog">BLOG</a>
            </li>
            <li class="nav-item nav-bar">
                <a class="nav-link" href="/store">STORE</a>
            </li>
    
                <li class="nav-item nav-bar">
                        <a class="nav-link" href="/contact">CONTACT</a>
                    </li>
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item">
                <a class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle"></i>
                  
                </a>
                
                <div class="dropdown-menu dropdown-menu-right">
                        <% if(currentLogedUser){%>
                        <button class="dropdown-item">Logged in as <%=currentLogedUser.username%></button>
                        <%}%> 
                        <a href="/user" class="dropdown-item" >Account </a> 
                        <a href="/logout" class="dropdown-item" >Logout </a> 
                        
                      </div>
                   
            </li>
           
            <li class="nav-item">
                <a href="/card" class="nav-link">CART <span><i class="fas fa-shopping-bag"></i>
                            
                    </span>
                </a>
            </li>
        </ul>
    </div>
</nav> 