<nav class="navbar navbar-light navbar-expand-md  justify-content-center fixed-top ">
    <a href="/" class="navbar-brand d-flex w-50 mr-auto">RAGE FITNESS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="navbar-nav mx-auto w-100 justify-content-center">
            <li class="nav-item active">
                <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item active">
                    <a class="nav-link" href="/classes">CLASESS</a>
                </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog">BLOG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/store">STORE</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/about">ABOUT</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="/contact">CONTACT</a>
                    </li>
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-user-circle"></i></a>
            </li>
           
            <li class="nav-item">
                <a class="nav-link" href="#">CART <span><i class="fas fa-shopping-bag"></i></span></a>
            </li>
        </ul>
    </div>
</nav>