.blog-intro{
    padding-top: 8vh;
    padding-bottom: 8vh;
}
.intro p{
    padding-top:  18px;
    font-size: 18px;

}
.blog-img{
    height:267 ;
    width: 401px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
.text-col span{
    margin-bottom: 6px;
}

.store{
   
        padding-top: 18vh;
        padding-bottom: 8vh;
   
}

.prod-card{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.1);
    width: 250px;
    margin-right: 10px;
}
.blogsec{
    padding-top: 50px;
}
.bloghero{
    background-image: url('../../images/blogimg1.jpg');
    width: 100%;
    height: 100%;
    min-height: 539px;
    background-size: cover; 
    background-position: center 28%;; 
    background-repeat: no-repeat;
}
.blogtitle{
    font-weight: $medium; 
        
    color: $cardred;
    text-transform: uppercase;
}
.blog-link{
 color: black;
 
}
.blog-text{
    font-size: 15px;
    font-weight: $medium;
}
.blogdetail{
    padding-top: 20px;
    line-height: 1.7em;
    font-size: 18px;
    text-align: left;
    font-weight: $normal;
    color: #555;
}

.blogtitle{
    padding-bottom: 30px;
    font-weight: $medium;
    color: #000;
    font-size: 50px;
}

// section 2 blog
.latepost{
    padding-top: 50px;
    
}
.latepost.card{
    width: 15rem;
    padding-left: 40px;
   
}
.blogcard-body{
    width: 100%;
}
.blogcard-text{
    font-size: 15px;
    font-weight: $medium;
}

// category
.catlink{
    color: #555;
}