
$cardred:#EA2027;
$white: #fff;
// classes 
.clasess{
        padding-top: 10vh;
    }
.classhead{
        font-weight: $medium; 
        
        color: $cardred;
}
.classpara{
        font-size: 18px;
        padding-top: 15px;
} 
.card-img{
        background-color: rgba(0, 0, 0, 0.5);
}

#class-h{
        line-height: 0;
        color: $white;
        text-transform: uppercase;
        font-weight: $medium;
        text-shadow: 1px 1px 10px #000;
}
#class-p{
        background-color: $cardred;
        width: 100px;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        display: inline-block;
       
        
}
.zoomefct{
        position: relative;
        overflow: hidden;
        transition: transform .2s;
} 
.zoomefct:hover img {
        transform: scale(1.5);
}

// show class information
.classdetail{
        padding-top: 10px;
        font-size: 18px;
        font-weight: $normal;
        text-align: justify;
        
}
.classtitle{
        padding-top: 25px;
        color: #dc3545;
        font-weight: $medium;
        text-transform: uppercase;

}
.health-info{
        padding-top: 65px;   
}
.healthinhead{
        color: #dc3545;
        text-align: left;
}
.healthp{
        padding-top: 10px;
        font-size: 18px;
        font-weight: $normal;
        text-align: left;
        padding-left: 10px;
}
.healthi{
        padding-left: 8px;
}
.list-group-flush{
        list-style-type: none;
        li{
                font-size: 15px;
                font-weight: $medium;
                padding-top: 10px;
                text-align: left;
        }
}
// shopping card
.lead{
        padding-bottom: 25px;
}
.shoppingcart{
        padding-bottom: 18vh;
}
.shoppingtable{
        padding-bottom: 18vh;    
}
.tb1{
        padding-bottom: 22vh;     
}