$footerbg:#192a56;
$spanbg:#EA2027;

.footer{
    background-color: $footerbg;
    color: white;
    margin-top: 50px;
    padding-top: 50px;
    height: 25vh;
}
.footer-nav ul{
    list-style-type: none;
}
.footer-nav span{
    padding-left: 10px;
   
}
