// hero
.hero{
   background: url("https://static.pexels.com/photos/685534/pexels-photo-685534.jpeg") no-repeat center center;
    padding: 30vh 0;

}
.about-hero{
    background: url("https://static.pexels.com/photos/685531/pexels-photo-685531.jpeg") no-repeat center center;
    padding: 30vh 0;
 

    
}

.contact-hero{
    background: url("https://static.pexels.com/photos/791765/pexels-photo-791765.jpeg") no-repeat center center;
    padding: 30vh 0;
}

.classes-hero{
    background: url("https://images.pexels.com/photos/866021/pexels-photo-866021.jpeg") no-repeat center center;
    padding: 30vh 0;
    background-size: 2000px 1850px;
   
}
