
$headercolor:#333333;

.login-form{
    padding-top: 10%;
}
.login-box{
   background-color: #fff;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px rgba(0, 0, 0, 0.19);
}
.head-text{
    color: $headercolor;
    padding-bottom: 5px;
}
// form imput


.frm-imput{
    margin-bottom: 50px;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid $headercolor;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
   
    
}
input[type="text"], input[type="text"]:focus{
    outline: 0;
    border-color: $headercolor;
    box-shadow:none;

}
input[type="password"], input[type="password"]:focus{
    outline: 0;
    border-color: $headercolor;
    box-shadow:none;

}
.btn-login{
    border-radius: 0;
    background: $headercolor;
    color: #fff;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
    :hover{
        background: transparent;
        border: 1px solid #fff;
        color: #fff;

    }
}
