<%include partials/header%>
<%include partials/nav%>


<!-- ABOUT US HERO SECTION -->

<section class="about-hero text-center text-white">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-7">
            <h1>About us </h1>
            <p class="display-4">Story About Us</p>
        </div>
      </div>
    </div>

  </section>

  <!-- about us story section -->
  <div class="about-section-1">
      <div class="container">
          <div class="row">
                <div class="col">
                        <img class="img-fluid" src="images/9.jpeg" alt="">
                    </div>
              <div class="col"> 
                  <h2>Our Great Story</h2>
                  <h3>Hi there</h3>
                  <p>We’re the Gym Group, a totally new way to exercise. Affordable, high-spec nationwide gyms, that make absolutely everybody feel welcome.
                        Whatever your starting point, and wherever you want to go, we can help.
                        So we’re for everyone who’s had enough of the unbelievably-expensive-monthly-contract gym, or the make-me-feel-judged-the-moment-I-walk-through-the-door gym.
                        As you might expect we’re growing fast, and there are new Gyms popping up all over the country. </p>
            
            </div>
              
          </div>
      </div>
  </div>
  <div class="section about-section-2">
        <div class="container">
            <div class="row">
                <div class="col"> 
                    <h2>Our Great Story</h2>
                    <h3>Hi there</h3>
                    <p>We’re the Gym Group, a totally new way to exercise. Affordable, high-spec nationwide gyms, that make absolutely everybody feel welcome.
                          Whatever your starting point, and wherever you want to go, we can help.
                          So we’re for everyone who’s had enough of the unbelievably-expensive-monthly-contract gym, or the make-me-feel-judged-the-moment-I-walk-through-the-door gym.
                          As you might expect we’re growing fast, and there are new Gyms popping up all over the country. </p>
              
              </div>
              <div class="col">
                    <img class="img-fluid" src="images/8.jpeg" alt="">
                </div>
                
            </div>
        </div>
    </div>

    <!--what make us great section  -->
    <div class="section">
        <div class="container">
            <div class="text-center">
                    <h2>What makes our gyms great</h2>
                    <p>We have designed our gyms around the things that matter most to our members:</p>
            </div>
            <div class="row">
                <div class="col">
                    <ul>
                        <li>Low prices - we keep our prices low and make sure they are simple and easy to understand</li>
                        <li>High quality gyms - our gyms are designed and maintained to the highest standards, with state-of-the-art equipment</li>
                        <li>Built around you - with up to 50 free classes every week, large free weights and cardio areas and plenty of personal trainers you'll find everything you need
                            </li>
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li>No contract - you have the freedom to join and leave whenever suits you</li>
                        <li>Open all day, every day - whenever you're ready to train, most gyms are open and ready to welcome you, 365 days a year, 24 hours a day</li>
                        <li>Online - join, book classes or cancel your membership in seconds... at the touch of a button on your phone, tablet or computer</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

  <!-- meet out team section  -->
  <div class="section our-team">
      <div class="container">
          <div class="text-center">
              <h2>Dedicated Team</h2>
              <p>Not only great working environement but we also provide the best support.</p>
          </div>
          <div class="row">
              <div class="col">
                <div class="card border-0">
                    <img src="images/10.jpeg" alt="" class="img card-img-top img-fluid">
                    <div class="card-block text-center ">
                        <p class="card-tile">DAVID PARKER</p>
                        <p class="car-text">Fitness trainer</p>
                    </div>
                </div>  
              </div>
              <div class="col">
                    <div class="card border-0">
                            <img src="images/12.jpeg" alt="" class="img card-img-top img-fluid">
                            <div class="card-block text-center">
                                <p class="card-tile">DAVID PARKER</p>
                                <p class="car-text">Fitness trainer</p>
                            </div>
                        </div>  
              </div>
              <div class="col">
                    <div class="card border-0">
                            <img src="images/12.jpeg" alt="" class="img card-img-top img-fluid">
                            <div class="card-block text-center">
                                <p class="card-tile">DAVID PARKER</p>
                                <p class="car-text">Fitness trainer</p>
                            </div>
                        </div>  
              </div>
          </div>
      </div>
  </div>
<%include partials/footer%>

