<%include partials/header%>
<%include partials/nav%>

<!-- contact page hero section -->
<section class="classes-hero text-center text-white">
    <div class="container">
        <div class="row justify-content-center">
                <div class="col-7">
                        <h1>CONTATC US</h1>
                        <p class="display-4">Get Intouch</p>
                    </div> 
        </div>
        
    </div>
</section>

<section class="classes">
    <div class="contanier ">
        <div class="row">
                <div class="card-columns">
                        <div class="card"><img src="images/img1.jpg" alt="" class="card-img img-fluid"></div>
                        <div class="card"><img src="images/img2.jpg" alt="" class="card-img img-fluid"></div>
                        <div class="card"><img src="images/img4.jpg" alt="" class="card-img img-fluid"></div>
                        <div class="card"><img src="images/img3.jpg" alt="" class="card-img img-fluid"></div>
                        <div class="card"><img src="images/img1.jpg" alt="" class="card-img img-fluid"></div>
                        <div class="card"><img src="images/img1.jpg" alt="" class="card-img img-fluid"></div>
                        <div class="card"><img src="images/img1.jpg" alt="" class="card-img img-fluid"></div>
                    </div>
        </div>
        
    </div>
</section>





<%include partials/footer%>


