<%include partials/header%>
<%include partials/nav%>


<section class="class-welcome">
    <div class="container text-center">
        <h2>CLASSES</h2>
        <p>Be part of our awesome courses, transform your body and live a healthy life.

                Our trainers will be a key part of your success.</p>
    </div>
</section>
<section class="classes">
    <div class="container">
     
                <div class="card-columns">
                        <div class="card">
                             <img src="images/img1.jpg" alt="" class="card-img img-fluid">
                            <div class="card-img-overlay text-white">
                                    <p id= "class-p"class="card-text">WEIGHT LOSS</p> 
                                    <h4 id="class-h" class="card-title">CROSSFIT</h4>
                            </div>
                        </div>
                        <div class="card">
                            <img src="images/img2.jpg" alt="" class="card-img img-fluid">
                            <div class="card-img-overlay text-white">
                                    <p id= "class-p"class="card-text">WEIGHT LOSS</p> 
                                    <h4 id="class-h" class="card-title">YOGA</h4>
                            </div> 
                        </div>
                        <div class="card">
                            <img src="images/img4.jpg" alt="" class="card-img img-fluid">
                            <div class="card-img-overlay text-white">
                                    <p id= "class-p"class="card-text">WEIGHT LOSS</p> 
                                    <h4 id="class-h" class="card-title">RUNNING</h4>
                            </div>
                        </div>
                        <div class="card">
                            <img src="images/img3.jpg" alt="" class="card-img img-fluid">
                            <div class="card-img-overlay text-white">
                                    <p id= "class-p"class="card-text">WEIGHT LOSS</p> 
                                    <h4 id="class-h" class="card-title">AEROBICS</h4>
                            </div>
                        </div>
                        <div class="card">
                            <img src="images/img5.jpg" alt="" class="card-img img-fluid">
                            <div class="card-img-overlay text-white">
                                    <p id= "class-p"class="card-text">WEIGHT LOSS</p> 
                                    <h4 id="class-h" class="card-title">CROSSFIT</h4>
                            </div>
                        </div>
                        <div class="card">
                            <img src="images/10.jpg" alt="" class="card-img img-fluid">
                            <div class="card-img-overlay text-white">
                                    <p id= "class-p"class="card-text">WEIGHT LOSS</p> 
                                    <h4 id="class-h" class="card-title"> WEIGHT LIFTING</h4>
                            </div>
                        </div>
                        <div class="card">
                            <img src="images/img9.jpg" alt="" class="card-img img-fluid">
                            <div class="card-img-overlay text-white">
                                    <p id= "class-p"class="card-text">WEIGHT LOSS</p> 
                                    <h4 id="class-h" class="card-title">CARDIO</h4>
                            </div>
                        </div>
                    </div>
                   
        </div>
        
    
</section>





<%include partials/footer%>


