<%include partials/header%>
<%include partials/nav%>

<!-- hero 2 -->
<section class="" style="margin-top: 25px;">
    <div class="row ">
     
      <div class="col-lg-6 row-description ">
            
        <div class="col-lg-8 description " style="padding-top: 12%;padding-left: 12%; font-size: 16px; font-weight: 400">
               
          <h3>ABOUT US</h3>
          <p>Gymshark is a fitness apparel & accessories brand, manufacturer and online 
              retailer based in the United Kingdom, supported by over 5.2 million highly
               engaged social media followers and customers in 131 countries.</p>
               <p>Gymshark is a fitness apparel & accessories brand, manufacturer and online 
                    retailer based in the United Kingdom, supported by over 5.2 million highly
                     engaged social media followers and customers in 131 countries.</p>
                     <p>Gymshark is a fitness apparel & accessories brand, manufacturer and online 
                            retailer based in the United Kingdom, supported by over 5.2 million highly
                             engaged social media followers and customers in 131 countries.</p>

                     <h4>RageFitness is led by:</h4>
                     <p>Ben Francis - Chief Brand Officer</p>
                     <p>Steve Hewitt - Chief Executive Officer</p>
                     <p>Steph Green - Chief Commercial Officer</p>
                     <p>Dave Parry - Chief People Officer</p>
                   
                        
        </div>
        
      </div>

      <div class=" col-md-12 col-lg-6 no-gutters" >
        
            <div class="col-lg-12">
        
        
              <img  src="images/contactimg1.jpg"  alt="running-women" style="width: 90%;">
       
      </div>
      </div>
    </div>
    <div class="row ">
     
        <div class="col-lg-6 row-description " style=" font-size: 16px; font-weight: 400">
          <div class="col-lg-8 description " >
            <h3>OUR CORE VALUES</h3>
            <p><b>Family</b> Our community of athletes, artists and visionaries stretch all the way across the globe. We are a family of like-minded individuals working to bring our respective visions to life.</p>
            <p><b>Progression</b>  Our products exist at the intersect of engineering and art. To remain at the forefront of both, we need to be fearlessly progressive and consistently future-conscious. We are not future-proof. We are the future.</p>
            <p><b>Vision</b>  In everything we do, be true to our own vision and respectful of others. We are here to bring ideas to life. There is no idea too big, or too small.</p>
            
          </div>
          
        </div>
  
         <div class="row ">
            <div class=" col-md-12 col-lg-6 " >
          
                    <div class="col-lg-12 over">
                
                      
                      <img  src="https://static01.nyt.com/images/2016/04/21/health/well-guides-4hourmarathon-header/well-guides-4hourmarathon-header-superJumbo-v5.gif"  alt="running-women" style="width: 100%;">
               
              </div>
              </div>
      <div class="col-lg-6 row-description ">
        <div class="col-lg-12 description " style="padding-top: 12%; font-size: 16px; font-weight: 400">
              <h3>GET IN TOUCH</h3>
                  
          
                               
                               <p>MEDIA & PRESS press@gymshark.com</p>
                               <p>BUSINESS ENQUIRIES corporate@gymshark.com</p>
                               <p>FOR ALL SPONSORSHIP ENQUIRIES PLEASE EMAIL sponsorship@gymshark.com</p>
                               <p>FOR ALL CUSTOMER SERVICE ENQUIRES PLEASE EMAIL support@gymshark.com</p>
                               <h3 class="">FOLLOW US</h3>
                               <div class="">
                                       <a href="" class="scocialsicon"><i class="fab fa-facebook-square scocialsi"></i></a>
                                       <a href="" class="scocialsicon"><i class="fab fa-instagram scocialsi"></i></a>
                                       <a href="" class="scocialsicon"><i class="fab fa-twitter-square scocialsi"></i></a>
                                       <a href="" class="scocialsicon"><i class="fab fa-youtube-square scocialsi"></i></a>
                                   </div>
                             
                                  
                  </div>
        </div>
      
      </div>

     
    </div>
      </div>
  </section>




<%include partials/footer%>
