<%include ./partials/header%>
<%include partials/nav%>



<div class="container login-form">
    <div class="row justify-content-md-center">
        <div class="col-md-6 col-md-auto login-box sign-up">
            <h3 class=" text-center head-text">CUSTOMER LOGIN</h3>
            <form action="" method="POST" class="login-form">
                
                <div class="col-md-12">
                    <input type="text"class="form-control form-control-lg frm-imput" placeholder="username" name="username">
                </div>
               
                <div class="col-md-12">
                    <input type="password"class="form-control form-control-lg frm-imput" placeholder="password" name="password">
                </div>
                <button class=" btn btn-lg btn-block btn-login">SIGN IN</button>
                <a href="/register" class=" btn btn-lg btn-block btn-login">CREATE ACCOUNT</a>
                
            </form>
            
        </div>
        
           
       

        
    </div>
</div>

<%include ./partials/footer%>