<%include ./partials/header%>
<%include partials/nav%>


<div class="container login-form">
    <div class="row justify-content-md-center">
        <div class="col-md-6 col-md-auto login-box sign-up">
            <h1 class=" text-center head-text"> Sign Up </h1>
          
             

                <!-- <div class="alert alert-danger" role="alert">
                        <strong>Oh snap!</strong> Change a few things up and try submitting again.
                      </div> -->

                      <form action="/register" onsubmit="return Validate()" method="POST" class="login-form needs-validation" novalidate enctype="multipart/form-data"required>
                        <div class="col-md-12">
                                <label for="validationServer01"></label>
                            <input type="text"class="form-control form-control-lg frm-imput" placeholder="FIRST NAME" name="firstname" id="Firstname">
                        </div>
                        <div class="col-md-12">
                                <label for="validationServer02"></label>
                            <input type="text"class="form-control form-control-lg frm-imput" placeholder="LAST NAME" name="secondname" id="Secondname">
                        </div>
                        <div class="col-md-12">
                            <label for="validationDefaultUsername"></label>
                            <input type="text"class="form-control form-control-lg frm-imput" placeholder="username" name="username" id="Username">
                        </div>
                        <div class="col-md-12" style="padding-bottom: 45px;">
                                <label for="image">Profile Picture:</label>
                                <input type="file"  id="image" name="avatar" placeholder="Class Image" accept="image/*" required>
                              
                            </div>
                        <div class="col-md-12">
                            <input type="password"class="form-control form-control-lg frm-imput" placeholder="password" name="password" id="Password">
                        </div>
                        <div class="col-md-12">
                            <input type="text"class="form-control form-control-lg frm-imput" placeholder="EMAIL ADDRESS" name="email" id="Emailaddress">
                        </div>
                        <div class="col-md-12">
                            <input type="text"class="form-control form-control-lg frm-imput" placeholder="TELEPHONE" name="telephone" id="Phonenumber">
                        </div>
                      
                        <button class=" btn btn-lg btn-block btn-login" value="Submit">CREATE</button>
                        
                    </form>
                    <a href="#">Return to Store</a>
              
            
        </div>
        
           
       

        
    </div>
</div>

<%include ./partials/footer%>
