<%include ./partials/header%>
<%include partials/nav%>



<div class="container login-form">
    <div class="row justify-content-md-center">
        <div class="col-md-6 col-md-auto login-box sign-up">
            <h1 class=" text-center head-text"> Sign Up </h1>
            <form action="/register" method="POST" class="login-form">
                <div class="col-md-12">
                    <input type="text"class="form-control form-control-lg frm-imput" placeholder="FIRST NAME" name="firstname">
                </div>
                <div class="col-md-12">
                    <input type="text"class="form-control form-control-lg frm-imput" placeholder="LAST NAME" name="secondname">
                </div>
                <div class="col-md-12">
                    <input type="text"class="form-control form-control-lg frm-imput" placeholder="username" name="username">
                </div>
                <div class="col-md-12">
                    <input type="password"class="form-control form-control-lg frm-imput" placeholder="password" name="password">
                </div>
                <div class="col-md-12">
                    <input type="text"class="form-control form-control-lg frm-imput" placeholder="EMAIL ADDRESS" name="email">
                </div>
                <div class="col-md-12">
                    <input type="text"class="form-control form-control-lg frm-imput" placeholder="TELEPHONE" name="telephone">
                </div>
              
                <button class=" btn btn-lg btn-block btn-login">CREATE</button>
                
            </form>
            <a href="#">Return to Store</a>
        </div>
        
           
       

        
    </div>
</div>

<%include ./partials/footer%>
