@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
   * Remove default margin.
   */
body {
  margin: 0; }

/* HTML5 display definitions
     ========================================================================== */
/**
   * Correct `block` display not defined for any HTML5 element in IE 8/9.
   * Correct `block` display not defined for `details` or `summary` in IE 10/11
   * and Firefox.
   * Correct `block` display not defined for `main` in IE 11.
   */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
   * 1. Correct `inline-block` display not defined in IE 8/9.
   * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
   */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
   * Address `[hidden]` styling not present in IE 8/9/10.
   * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
   */
[hidden],
template {
  display: none; }

/* Links
     ========================================================================== */
/**
   * Remove the gray background color from active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * Improve readability when focused and also mouse hovered in all browsers.
   */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
     ========================================================================== */
/**
   * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
   */
abbr[title] {
  border-bottom: 1px dotted; }

/**
   * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
   */
b,
strong {
  font-weight: bold; }

/**
   * Address styling not present in Safari and Chrome.
   */
dfn {
  font-style: italic; }

/**
   * Address variable `h1` font-size and margin within `section` and `article`
   * contexts in Firefox 4+, Safari, and Chrome.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
   * Address styling not present in IE 8/9.
   */
mark {
  background: #ff0;
  color: #000; }

/**
   * Address inconsistent and variable font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` affecting `line-height` in all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove border when inside `a` element in IE 8/9/10.
   */
img {
  border: 0; }

/**
   * Correct overflow not hidden in IE 9/10/11.
   */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
     ========================================================================== */
/**
   * Address margin not present in IE 8/9 and Safari.
   */
figure {
  margin: 1em 40px; }

/**
   * Address differences between Firefox and other browsers.
   */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
   * Contain overflow in all browsers.
   */
pre {
  overflow: auto; }

/**
   * Address odd `em`-unit font size rendering in all browsers.
   */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
     ========================================================================== */
/**
   * Known limitation: by default, Chrome and Safari on OS X allow very limited
   * styling of `select`, unless a `border` property is set.
   */
/**
   * 1. Correct color not being inherited.
   *    Known issue: affects color of disabled elements.
   * 2. Correct font properties not being inherited.
   * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
   */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
   * Address `overflow` set to `hidden` in IE 8/9/10/11.
   */
button {
  overflow: visible; }

/**
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
   * Correct `select` style inheritance in Firefox.
   */
button,
select {
  text-transform: none; }

/**
   * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
   *    and `video` controls.
   * 2. Correct inability to style clickable `input` types in iOS.
   * 3. Improve usability and consistency of cursor style between image-type
   *    `input` and others.
   */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
   * Re-set default cursor for disabled elements.
   */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
   * Remove inner padding and border in Firefox 4+.
   */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
   * Address Firefox 4+ setting `line-height` on `input` using `!important` in
   * the UA stylesheet.
   */
input {
  line-height: normal; }

/**
   * It's recommended that you don't attempt to style these elements.
   * Firefox's implementation doesn't respect box-sizing, padding, or width.
   *
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Fix the cursor style for Chrome's increment/decrement buttons. For certain
   * `font-size` values of the `input`, it causes the cursor style of the
   * decrement button to change from `default` to `text`.
   */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
   *    (include `-moz` to future-proof).
   */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * Define consistent border, margin, and padding.
   */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
   * 1. Correct `color` not being inherited in IE 8/9/10/11.
   * 2. Remove padding so people aren't caught out if they zero out fieldsets.
   */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Remove default vertical scrollbar in IE 8/9/10/11.
   */
textarea {
  overflow: auto; }

/**
   * Don't inherit the `font-weight` (applied by a rule above).
   * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
   */
optgroup {
  font-weight: bold; }

/* Tables
     ========================================================================== */
/**
   * Remove most spacing between table cells.
   */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.hero {
  background: url("https://static.pexels.com/photos/685534/pexels-photo-685534.jpeg") no-repeat center center;
  padding: 30vh 0; }

.about-hero {
  background: url("https://static.pexels.com/photos/685531/pexels-photo-685531.jpeg") no-repeat center center;
  padding: 30vh 0; }

.contact-hero {
  background: url("https://static.pexels.com/photos/791765/pexels-photo-791765.jpeg") no-repeat center center;
  padding: 30vh 0; }

.overlay {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s; }

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px; }

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1; }

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px; }

.navbar .nav-item a {
  color: #EA2027 !important;
  font-size: 16px !important;
  font-weight: 600; }

.navbar .nav-item {
  margin-left: 15px;
  line-height: 12px; }

.navbar .nav-bar:hover {
  border-bottom: 1.5px solid #EA2027 !important;
  /* or whatever colour you'd prefer */
  transition: .3s; }

.welcome {
  padding: 10vh 0;
  width: 75%;
  margin: 0 auto; }
  .welcome hr {
    border-top: 1px solid #b4b4b4;
    width: 95%;
    margin-top: 1.5rem;
    margin-bottom: 1.2rem; }

.class-welcome {
  padding-top: 18vh;
  padding-bottom: 8vh; }

.row-2 {
  padding-top: 2px; }

.hero2 {
  padding-bottom: 20px;
  height: 650px; }

.shoppingcart {
  padding-top: 18vh;
  padding-bottom: 8vh; }

.classes {
  padding-bottom: 10vh; }

.people-row-1 {
  padding-top: 8vh; }

.client-img {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 170px;
  height: 170px; }

.testimonials {
  margin-top: 12vh;
  margin-bottom: 12vh; }

.sho-content {
  padding-top: 18vh; }

.blog {
  padding-top: 18vh;
  padding-bottom: 8vh; }

.checkout {
  padding-top: 18vh;
  padding-bottom: 8vh; }

.footer {
  background-color: #262626;
  color: white;
  margin-top: 50px;
  padding-top: 50px;
  height: 25vh; }

.footer-nav ul {
  list-style-type: none; }

.footer-nav span {
  padding-left: 10px; }

.about-section-1 {
  padding-top: 5vh; }

.our-team {
  padding: 5vh 0; }

.over {
  position: relative;
  text-align: center;
  color: white; }

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.scocials {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%); }

.scocialsicon {
  font-size: 40px;
  padding: 10px; }

.scocialsi {
  color: #000 !important; }

#header {
  background-color: #333333;
  color: #ffffff;
  padding-bottom: 10px;
  margin-bottom: 15px; }

.breadcrumb {
  background-color: #cccccc;
  color: #333333; }

.breadcrumb ol {
  list-style-type: none; }

.sales {
  background-color: yellowgreen; }

.login-form {
  padding-top: 10%; }

.login-box {
  background-color: #fff;
  padding: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px rgba(0, 0, 0, 0.19); }

.head-text {
  color: #EA2027;
  padding-bottom: 5px; }

.sign-up {
  margin-right: 40px; }

.frm-imput {
  margin-bottom: 50px;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #333333;
  -webkit-transition: all 0.6s;
  transition: all 0.6s; }

input[type="text"], input[type="text"]:focus {
  outline: 0;
  border-color: #333333;
  box-shadow: none; }

input[type="password"], input[type="password"]:focus {
  outline: 0;
  border-color: #333333;
  box-shadow: none; }

.btn-login {
  border-radius: 0;
  background: #EA2027;
  color: #fff;
  -webkit-transition: all 0.7s;
  transition: all 0.7s; }
  .btn-login :hover {
    background: transparent;
    border: 1px solid #fff;
    color: #fff; }

.classhead {
  font-weight: 700;
  color: #EA2027; }

.classpara {
  font-size: 18px;
  padding-top: 15px; }

.card-img {
  background-color: rgba(0, 0, 0, 0.5); }

#class-h {
  line-height: 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 1px 1px 10px #000; }

#class-p {
  background-color: #EA2027;
  width: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  display: inline-block; }

.zoomefct {
  position: relative;
  overflow: hidden;
  transition: transform .2s; }

.zoomefct:hover img {
  transform: scale(1.5); }

.classdetail {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 400;
  text-align: justify; }

.classtitle {
  padding-top: 25px;
  color: #dc3545;
  font-weight: 700;
  text-transform: uppercase; }

.health-info {
  padding-top: 65px; }

.healthinhead {
  color: #dc3545;
  text-align: left; }

.healthp {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  padding-left: 10px; }

.healthi {
  padding-left: 8px; }

.blog-intro {
  padding-top: 8vh;
  padding-bottom: 8vh; }

.intro p {
  padding-top: 18px;
  font-size: 18px; }

.blog-img {
  height: 267;
  width: 401px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.text-col span {
  margin-bottom: 6px; }

.store {
  padding-top: 18vh;
  padding-bottom: 8vh; }

.prod-card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  width: 250px;
  margin-right: 10px; }

.blogsec {
  padding-top: 50px; }

.bloghero {
  background-image: url("../../images/blogimg1.jpg");
  width: 100%;
  height: 100%;
  min-height: 539px;
  background-size: cover;
  background-position: center 28%;
  background-repeat: no-repeat; }

.blogtitle {
  font-weight: 700;
  color: #EA2027;
  text-transform: uppercase; }

.blog-link {
  color: black; }

.blog-text {
  font-size: 15px;
  font-weight: 700; }

.blogdetail {
  padding-top: 20px;
  line-height: 1.7em;
  font-size: 18px;
  text-align: left;
  font-weight: 400;
  color: #555; }

body {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #222;
  background-color: #ffffffff; }

.team-card {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center; }

.whysec {
  height: 600px;
  padding-top: 80px;
  margin-bottom: 70px; }

.whysec h4 {
  font-weight: 900;
  padding-bottom: 10px;
  color: #dc3545; }

.team-text h2 {
  font-weight: bold;
  font-size: 30px;
  color: #dc3545; }

.whyrow {
  padding-top: 60px;
  font-size: 16px; }

.icon {
  font-size: 20px;
  padding: 10px; }

.fa-facebook-square {
  background-color: transparent;
  color: #3b5998; }

.fa-twitter-square {
  background-color: transparent;
  color: #55acee; }

.fa-instagram {
  background-color: transparent;
  color: #125688; }

.fa-youtube-square {
  background-color: transparent;
  color: #e52d27; }

.ourteam {
  padding: 70px 0px; }

.team-sec {
  padding-top: 80px; }

.reviws {
  margin-top: 50px; }

.carousel-inner img {
  width: 100%;
  height: 100%; }

.carousel-caption {
  position: absolute;
  top: 28%;
  transform: translateX(18%); }

.carousel-caption h1 {
  font-weight: 700;
  text-shadow: 1px 1px 15px #000; }

.carousel-caption p {
  font-size: 140%;
  padding-left: 55px;
  text-shadow: 1px 1px 10px #000; }

.clasess {
  padding-top: 50px; }

.row-description h3 {
  color: #dc3545;
  padding-bottom: 5px; }

/* media queries */
@media (max-width: 992px) {
  .carousel-caption {
    top: 25%;
    transform: translateX(18%); }
  .carousel-caption h1 {
    text-shadow: 1px 1px 15px #000;
    font-size: 60px; }
  .carousel-caption p {
    font-size: 120%;
    padding-left: 55px;
    text-shadow: 1px 1px 10px #000; }
  .row-description {
    padding: 5vh 0;
    width: 75%;
    margin: 0 auto; }
  .row-description h3 {
    color: #dc3545;
    padding-bottom: 5px; }
  .description {
    padding-bottom: 10px; }
  .about-us {
    padding-top: 35px;
    padding-bottom: 35px; }
  .whyrow {
    width: 100%; }
  .whyrow h4 {
    color: #dc3545; }
  .whyrow p {
    font-size: 18px; }
  .card {
    width: 100%; }
  .card-title {
    color: #dc3545; }
  .card-text {
    font-size: 16px;
    font-weight: 400; }
  .card-columns {
    column-count: 2; }
  .footer {
    height: 100%; } }

@media (max-width: 768px) {
  .carousel-caption {
    top: 25%;
    transform: translateX(-18%); }
  .carousel-caption h1 {
    text-shadow: 1px 1px 15px #000;
    font-size: 40px; }
  .carousel-caption p {
    font-size: 140%;
    padding-left: 55px;
    text-shadow: 1px 1px 10px #000; }
  .row-description {
    padding: 5vh 0;
    width: 75%;
    margin: 0 auto; }
  .row-description h3 {
    color: #dc3545;
    padding-bottom: 5px; }
  .description {
    padding-bottom: 10px; }
  .about-us {
    padding-top: 35px;
    padding-bottom: 35px; }
  .whyrow h4 {
    color: #dc3545; }
  .whyrow p {
    font-size: 18px; }
  .card-columns {
    column-count: 1; }
  .footer {
    height: 100%; } }

@media (min-width: 1440px) {
  .row-description h3 {
    color: #dc3545;
    padding-bottom: 5px; }
  .whyrow h4 {
    color: #dc3545; }
  .card {
    width: 100%; }
  .card-title {
    color: #dc3545; } }

@media (min-width: 1024px) {
  .row-description h3 {
    color: #dc3545;
    padding-bottom: 5px; }
  .whyrow h4 {
    color: #dc3545; }
  .card {
    width: 100%; }
  .card-title {
    color: #dc3545; } }
