@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
.hero {
  background: url("https://static.pexels.com/photos/685534/pexels-photo-685534.jpeg") no-repeat center center;
  padding: 30vh 0; }

.about-hero {
  background: url("https://static.pexels.com/photos/685531/pexels-photo-685531.jpeg") no-repeat center center;
  padding: 30vh 0; }

.contact-hero {
  background: url("https://static.pexels.com/photos/791765/pexels-photo-791765.jpeg") no-repeat center center;
  padding: 30vh 0; }

.navbar {
  background-color: white; }

.welcome {
  padding: 10vh 0; }

.footer {
  background-color: black;
  color: white;
  padding-top: 30vh 0; }

.about-section-1 {
  padding-top: 5vh; }

.our-team {
  padding: 5vh 0; }

.connect {
  height: 20px;
  background-color: aqua;
  padding: 10vh 0; }
