<%include ../partials/header%>

<%include ../partials/cmsnav%>

<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1>
                    <i class="fas fa-cogs"></i>
                    Dashboard <small>Manage Your Site</small></h1>
            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</section>

<!-- breadcrumb section -->
<section id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
           <li class="active">Dashboard</li> 
        </ol>
    </div>
</section>

<!-- overview -->
<section class="clasess text-center">
      <!-- partial -->
      <div class="container">
            <div class="content-wrapper">
                    <h3 class="page-heading mb-4">Blog Overview</h3>
                    <div class="row">

                        <div class="col-xl-4 col-lg-4 col-md-3 col-sm-6 mb-4">
                                <ul class="list-group">
                                        <li class="list-group-item"><a class="nav-link" href="/cmsblog/newblog">ADD NEW POST</a></li>
                                      
                                      </ul>
                        </div>
                    
                      
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                        <div class="card card-statistics">
                          <div class="card-body">
                            <div class="clearfix">
                              <div class="float-left">
                                <h4 class="text-success">
                                        <i class="fas fa-rss"></i>
                                </h4>
                              </div>
                              <div class="float-right">
                                <p class="card-text text-dark">POSTS</p>
                                <h4 class="bold-text">2</h4>
                              </div>
                            </div>
                           
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                            <div class="card card-statistics">
                              <div class="card-body">
                                <div class="clearfix">
                                  <div class="float-left">
                                    <h4 class="text-success">
                                            <i class="fas fa-rss"></i>
                                    </h4>
                                  </div>
                                  <div class="float-right">
                                    <p class="card-text text-dark">COMMENTS</p>
                                    <h4 class="bold-text">2</h4>
                                  </div>
                                </div>
                               
                              </div>
                            </div>
                          </div>
                      
                   
                    </div>
      </div>
      
          
       
      </section>
      

      <section>
          <div class="container">
              <div class="row">
                  <%for(var i = 0; i < foundblog.length;i++){%>
                      <div class="col-xl-4 col-lg-4 col-md-3 col-sm-6 mb-4">
                          <div class="card-img-top">
                              <img src="<%= foundblog[i].blogImage%>" class = "card-img img-fluid" alt="">
                              <div class="card-body">
                                      
                                      <h4 id="class-h" class="card-text prod"><%= foundblog[i].blogTitle%></h4>
                                      <a class="text-danger" href="/cmsblog/<%=foundblog[i]._id%>/editblog">VIEW/EDIT POST</a>
                                      <form action="/cmsblog/<%=foundblog[i]._id%>/?_method=DELETE" method="POST">
                                        <button>Delete</button>
                                        </form>
                              </div>
                             
                          </div>
                         
                          
                  </div>
                   
                    <%}%> 
              </div>
          </div>
      </section>


       <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
