
<%include ../partials/header%>

<%include ../partials/cmsnav%>

<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1>
                    <i class="fas fa-cogs"></i>
                    Dashboard <small>Manage Your Site</small></h1>
            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</section>

<!-- breadcrumb section -->
<section id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
           <li class="active">Dashboard</li> 
        </ol>
    </div>
</section>

<!-- overview -->
<section class="clasess text-center">
      <!-- partial -->
      <div class="container">
            <div class="content-wrapper">
                    <h3 class="page-heading mb-4">Website Overview</h3>
                    <div class="row">

                        <div class="col-xl-3 col-lg-3 col-md-43 col-sm-6 mb-4">
                                <ul class="list-group">
                                        <li class="list-group-item"><a class="nav-link" href="/newclass">ADD NEW POST</a></li>
                                        
                                      
                                      </ul>
                        </div>
                    
                     
                        
                          <div class="col-xl-9 col-lg-9 col-md-43 col-sm-6 mb-4">
                            <div class="row">
                                <%for(var i = 0; i < foundclasses.length;i++){%>
                                <div class="col-xl-3 col-lg-3 col-md-43 col-sm-6 mb-4">
                                    <div class="card">
                                        <img src="<%= foundclasses[i].classImage%>" class = "card-img img-fluid" alt="">
                                        <div class="card-img-overlay text-white">
                                                
                                                <h4 id="class-h" class="card-title"><%= foundclasses[i].className%></h4>
                                                <p id= "class-p"class="card-text"><%= foundclasses[i].classType%></p> 
                                        </div>
                                       
                                    </div>
                                    <a class="text-danger" href="/editclass">VIEW/EDIT POST</a>
                            </div>
                             
                              <%}%> 
                        </div>
                      </div>
                   
                      
                   
                    </div>
    
      
          
       
      </section>


       <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
