<%include ../partials/header%>

<%include ../partials/cmsnav%>

<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1>
                    <i class="fas fa-cogs"></i>
                    Dashboard <small>Manage Your Site</small></h1>
            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</section>

<!-- breadcrumb section -->
<section id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
           <li class="active"> Store Dashboard</li> 
        </ol>
    </div>
</section>

<!-- overview -->
<section> 
      <!-- partial -->
    <div class="container"> 
        <h2 class="text-center">ADD A PRODUCT</h2>
                <form action="/cmsprod" method="POST" enctype="multipart/form-data"required>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                            <label for="exampleInputEmail1">Product Name:</label>
                            <input type="text" class="form-control"  placeholder="Product Name" name="Productname">
                      </div>
                      <div class="form-group col-md-6">
                            <label for="exampleInputEmail1">Product Type:</label>
                            <input type="text" class="form-control"  placeholder="Product Type" name="Producttype">
                      </div>
                    </div>
                    <div class="form-group">
                            <label for="exampleInputEmail1">Product Price:</label>
                            <input type="number" class="form-control"  placeholder="Product Price" name="Productprice">
                    </div>
                    <div class="form-group">
                            <label for="exampleInputEmail1">Product Size:</label>
                            <input type="text" class="form-control"  placeholder="Product Size" name="Productsize">
                    </div>
                    <div class="form-group">
                            <label for="image">Class Image:</label>
                            <input type="file"  id="image" name="Productimage" placeholder="Pdoduct Image" accept="image/*" required>
                    </div>
                    <div class="form-row">
                      
                      <div class="form-group col-md-4">
                            <label for="comment">Tags:</label>
                            <input type="text" class="form-control" name = "Tags" placeholder="">
                      </div>
                    <div class="form-group col-md-12">
                       
                            <label for="">Product Description:</label>
                            <textarea class="form-control" rows="5" id=""name="Productdescription"></textarea>
                            </div>
                    
                    <button type="submit" class="btn btn-primary">SUBMIT</button>
                  </form>
                </div>
</section>


       <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
