<%include ../partials/header%>

<%include ../partials/cmsnav%>

<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1>
                    <i class="fas fa-cogs"></i>
                    Dashboard <small>Manage Your Site</small></h1>
            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</section>

<!-- breadcrumb section -->
<section id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
           <li class="active"> Store Dashboard</li> 
        </ol>
    </div>
</section>

<!-- overview -->
<section class="clasess ">
      <!-- partial -->
    
<div class="container">
        <h2 class="text-center">ADD A PRODUCT</h2>
        <div class="row justify-content-md-center">
            
            <div class="col-md-6 col-md-auto ">
                <form action="/cmsprod" method="POST" class="">
                    <div class="col-md-12">
                        <label for="exampleInputEmail1">Product Image:</label>
                        <input type="text" class="form-control"  placeholder="Product Type" name="Productimage">
                </div>
                    <div class="col-md-12">
                            <label for="exampleInputEmail1">Product Name:</label>
                            <input type="text" class="form-control"  placeholder="Product Name" name="Productname">
                    </div>
                    <div class="col-md-12">
                            <label for="exampleInputEmail1">Product Type:</label>
                            <input type="text" class="form-control"  placeholder="Product Type" name="Producttype">
                    </div>
                    <div class="col-md-12">
                            <label for="exampleInputEmail1">Product Price:</label>
                            <input type="number" class="form-control"  placeholder="Product Price" name="Productprice">
                    </div>
                    <div class="col-md-12">
                            <label for="exampleInputEmail1">Product Size:</label>
                            <input type="text" class="form-control"  placeholder="Product Size" name="Productsize">
                    </div>
                    <div class="col-md-12">
                            <label for="comment">Product Description:</label>
                            <textarea class="form-control" rows="5" id="comment"name="Productdescription"></textarea>
                            
                    </div>
                    <button class=" btn btn-lg btn-block">SUBMIT</button>
                    
                </form>
            </div>
        </div>
    </div>
      
          
       
      </section>


       <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
