<%include ../partials/header%>

<%include ../partials/cmsnav%>

<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1>
                    <i class="fas fa-cogs"></i>
                    Dashboard <small>Manage Your Site</small></h1>
            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</section>

<!-- breadcrumb section -->
<section id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
           <li class="active">Blog Dashboard</li> 
        </ol>
    </div>
</section>

<!-- overview -->
<section class="classes">
      <!-- partial -->
    
<div class="container">
        <h2 class="text-center">ADD A NEW BLOG POST</h2>
        <div class="row justify-content-md-center">
            
            <div class="col-md-6 col-md-auto ">
                <form action="/cmsblog/newblog" class="" method="POST">
                    <div class="col-md-12">
                            <label for="exampleInputEmail1">Blog Title</label>
                            <input  class="form-control"  name="Blogtitle"  placeholder="Blog Title">
                    </div>
                    <div class="col-md-12">
                            <label for="exampleInputEmail1">Blog Image</label>
                            <input  class="form-control" name="Blogimage"  placeholder="Blog Image">
                    </div>
                    <div class="col-md-12">
                            <label for="comment">Blog Description:</label>
                            <textarea class="form-control" rows="5" name="Blogdescription" id="comment"></textarea>
                            
                    </div>
                    <div class="col-md-12">
                            <label for="comment">Blog Author:</label>
                            <input  class="form-control" rows="5" name="Blogauthor" id="comment">
                            
                    </div>
                    <button class=" btn btn-lg btn-block">POST</button>
                    
                </form>
            </div>
        </div>
    </div>
      
          
       
      </section>


       <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

