<%include ../partials/header%>

<%include ../partials/cmsnav%>

<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1>
                    <i class="fas fa-cogs"></i>
                    Dashboard <small>Manage Your Site</small></h1>
            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</section>

<!-- breadcrumb section -->
<section id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
           <li class="active">Blog Dashboard</li> 
        </ol>
    </div>
</section>

<!-- overview -->
      <section>
            <div class="container">
                    <h2 class="text-center">ADD A NEW BLOG POST</h2>
                  <form action="/cmsblog/newblog" class="" method="POST" enctype="multipart/form-data"required>
                          <div class="form-row">
                            <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">Blog Title</label>
                                    <input  class="form-control"  name="Blogtitle"  placeholder="Blog Title">
                            </div>
                           
                          </div>
                          <div class="form-group">
                                <label for="image">Class Image:</label>
                                <input type="file"  id="image" name="Blogimage" placeholder="Class Image" accept="image/*" required>
                        </div>
                          <div class="form-group">
                                <label for="comment">Blog Author:</label>
                                <input  class="form-control" rows="5" name="Blogauthor" id="comment">
                          </div>
                         
                         
                          <div class="form-group col-md-12">
                             
                                <label for="comment">Blog Intro:</label>
                                <textarea class="form-control" rows="5" name="blogIntro" id=""></textarea>
                                  </div>
                                  <div class="form-group col-md-12">
                             
                                        <label for="comment">Blog main section:</label>
                                        <textarea class="form-control" rows="5" name="blogmainsection" id=""></textarea>
                                          </div>
                                          <div class="form-group col-md-12">
                             
                                                <label for="comment">Blog Description:</label>
                                                <textarea class="form-control" rows="5" name="Blogdescription" id="comment"></textarea>
                                                  </div>
                                                  <div class="form-group col-md-12">
                             
                                                        <label for="comment">Blog conclusion:</label>
                                                        <textarea class="form-control" rows="5" name="blogconclusion" id="comment"></textarea>
                                                          </div>
                          
                          <button type="submit" class="btn btn-primary">SUBMIT</button>
                        </form>
            </div>
        </section>

       <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

