<%include ../partials/header%>
<%include ../partials/nav%>
<section>
    
</section>
<section class="blog-intro">
    <div class="container">
            <h2>BLOG</h2>
            <p>News and thoughts by us.</p>
        <div class="text-center intro">
            <h2>Recents posts</h2>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</section>

<!-- blog post section -->
<section class="blog-post">
    <div class="container mb-4">
        
            <ul class="nav justify-content-end">
                    <li class="nav-item">
                      <a class="nav-link " href="#">Gym</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Activities</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">General</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="#">Tips</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link " href="#">Newbies</a>
                          </li>
                  </ul> 
    </div>
     
    
    
</section>

<section>
    <div class="container">
        <div class="card-columns">
               
                <%for(var i = 0; i < foundblog.length;i++){%>
                <div class="card border-0">
                   
                            <h5 class="card-title text-center"><%= foundblog[i].blogTitle%></h5>
                    
                      
                   <a href="/blog/<%= foundblog[i]._id%>">
                                <img class="card-img-top" src="<%= foundblog[i].blogImage%>" alt="Card image cap">
                        </a>
                  <div class="card-body">
                   
                    <p class="card-text"><%= foundblog[i].blogDescription.substring(0,200) %>...</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
                <%}%>   
               
                </div>
                
             
               
              </div>
            
</section>

<%include ../partials/footer%>
