<%include partials/header%>
<%include partials/nav%>
<section>
    
</section>
<section class="blog-intro">
    <div class="container">
            <h2>BLOG</h2>
            <p>News and thoughts by us.</p>
        <div class="text-center intro">
            <h2>Recents posts</h2>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</section>

<!-- blog post section -->
<section class="blog-post">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img class="blog-img rounded" src="images/img11.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <h2>BREAKFAST: SUNDAE FOR SUNDAY?</h2>
                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis debitis aut rerum.</p>
               
                <span>by Carine Fox , 19/08/2018</span> <br>
                <button class="btn btn-success">Read More</button>
            </div>
        </div>
        <hr class="mb-5 mt-4 pb-3">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img class="blog-img rounded" src="images/img10.jpg" alt="">
            </div>
            <div class="col-lg-7 text-col">
                <h2>BREAKFAST: SUNDAE FOR SUNDAY?</h2>
                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis debitis aut rerum.</p>
               
                <span >by Carine Fox , 19/08/2018</span> <br>
                <button class="btn btn-success">Read More</button>
            </div>
        </div>
        <hr class="mb-5 mt-4 pb-3">
    </div>
    
</section>

<%include partials/footer%>
