<%include ../partials/header%>
<%include ../partials/nav%>


<section class="class-welcome">
    <div class="container text-center">
        <h2>CLASSES</h2>
        <p>Be part of our awesome courses, transform your body and live a healthy life.

                Our trainers will be a key part of your success.</p>
               
    </div>
   
    
  
</section>
<section class="classes">
    <div class="container">
            <div class="card-columns">
            <%for(var i = 0; i < foundclasses.length;i++){%>
                
                    <div class="card">
                         <img src="<%= foundclasses[i].classImage%>" class = "card-img img-fluid" alt="">
                        <div class="card-img-overlay text-white">
                                
                                
                                <p id= "class-p"class="card-text"><%= foundclasses[i].classType%></p> 
                                 <a href="/classes/<%=foundclasses[i]._id%>" class="text-white"><h4 id="class-h" class="card-title"><%= foundclasses[i].className%></h4></a>
                        </div>
                       
                    </div>
                    <%}%>
            </div>
             
            
     
                
                      
                    </div>
                   
        </div>
        
    
</section>





<%include ../partials/footer%>


